
# Dot Folder
.zsh
.ssh
.npm
.cache
.zcompdump
.local/share
.local/state
.zsh_history
.termux_authinfo
.config/gh/hosts.yml
.gitconfig

# User Folder
go
storage
workspace


# Binary
.local/bin

# Shell
.bashrc
.npmrc

