
# Dot Folder
.zsh
.ssh
.npm
.cache
.gitconfig
.zcompdump
.local/share
.local/state
.zsh_history
.config/nvim
.termux/shell
.termux_authinfo
.config/gh/hosts.yml

# User Folder
go
storage
workspace


# Binary
.local/bin

# Shell
.bashrc
.npmrc

